/** DEVELOPER: Fariha Khan, IS117-004, Spring 2024 */

/** Body */
body {
    background-image: url(images/grid.jpg);
    width:99%;
  }

label{
  font-weight:bold;
}
.bg-jumbotron{
  background-color: #f4eb71;
  height:100%;
}
.bg-jumbotron h2,h3 {
  color:#90183c;
  font-weight:bolder;
}

/** Interior Pages*/
.interior{
  clear:both;
  margin:1em;
  padding: 1em;
  width:250%;
  float:left;
  border-color: #d34a73;
  border-width: 4px;
  border-style: dashed;
  border-radius: 10px;
  background-color: #aff0fa;
}

.interior h2{
  color:#71152c;
}

.interior p{
  color:#71152c;
}

/** Cards */
.card {
  padding: 2px 16px;
  float:left;
  box-shadow: 0 4px 8px 0 rgba(11, 44, 66, 0.459);
  transition: 0.3s;
  width: 30%;
  height:40%;
  background-color: #f27bb7;
  margin:1em;
  text-align: center;
  color:rgb(48, 13, 13);
}

.card a{
  padding-left: 0;
  padding-right: 0;
  color:rgb(48, 13, 13);
  text-decoration: none;
}

a:hover, a:active {
    background-color: white;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(246, 72, 130, 0.418);
}


.card h4{
  font-weight: bolder;
}

/** Sidebar */
.sidebar {
  margin:1em;
  padding: 1em;
  float:left;
  width:15%;
  height: 450px;
  border-color: #d34a73;
  border-width: 4px;
  border-style: dashed;
  border-radius: 10px;
  background-color: #f6f1ac;
}
.sidebar h2{
  text-align:center;
  color:#d34a73;
  font-weight: bold;
}
.sidebar li{
  color:#d34a73;
  list-style-type: square;
}

.sidebar li a{
  color:#d34a73;
}
.sidebar li::marker{
  color:#d34a73;
}

/** navbar edits */
.bg-custom {
    background-color: #27a4c1 !important;
  }
.navbar{
    margin-bottom: 2em;
}
/** contact page features */
.btn-primary {
    color: #fff;
    background-color: #fd326f;
    border-color: #fd326f;
  }
.btn-primary:hover {
    color: #fff;
    background-color: #27a4c1;
    border-color: #27a4c1;
  }
.form-control{
  margin: 0 0 1em 0;
  font-weight:bold;
}
input textarea{
  color:#71152c;
}
.form-control#message{
  height: 100px;
  overflow-y: scroll;
}
.contact_page{
  clear:right;
  float:left;
}

.dropdown-item, .nav-link{
  font-weight:bolder;
}

/** footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

/**Media Queries*/
@media only screen and (max-width:"767px"){
  .sidebar{
    display: none;
  }
}
