/** Body */
body {
    background-image: url(images/grid.jpg);
  }

label{
  font-weight:bold;
}

.bg-jumbotron{
  background-color: #f4eb71;
  height:250px;
}
.bg-jumbotron h2, h3 {
  color:#90183c;
}

/** Aside */
aside {
  float:left;
  
}


/** navbar edits */
.bg-custom {
    background-color: #27a4c1 !important;
  }
.navbar{
    margin-bottom: 2em;
}
/** contact page features */
.btn-primary {
    color: #fff;
    background-color: #fd326f;
    border-color: #fd326f;
  }
.btn-primary:hover {
    color: #fff;
    background-color: #27a4c1;
    border-color: #27a4c1;
  }
.form-control{
  margin: 0 0 1em 0;
  font-weight:bold;
}
input textarea{
  color:#71152c;
}
.form-control#message{
  height: 100px;
  overflow-y: scroll;
}

/** footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
